:root {
  --button-color: #8ecdf8;
  --font: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell,
    “Fira Sans”, “Droid Sans”, “Helvetica Neue”, Arial, sans-serif;
}

body {
  font-family: var(--font);
}

.container {
  margin: 1rem auto;
  width: min(30em, calc(50% + 2em));
}

.container > .post-item {
  margin-top: 1rem;
}

.post-item {
  padding: 1rem;
  border: solid 1px black;
}
